:root {
  /* text colors */
  --title-color: #2e2f42;
  --subtitle-color: #2e2f42;
  --text-color: #434455;
  --footer-text-color: #e7e9fc;
  --footer-subtitle-color: #ffffff;
  --logo-main-color: #4d5ae5;
  --logo-part-header-color: #2e2f42;
  --logo-part-footer-color: #f4f4fd;
  --hero-color: #ffffff;
  --hero-btn-color: #ffffff;
  --btn-color: #4d5ae5;
  --accent-btn-color: #ffffff;
  --accent-link-color: #4d5ae5;
  --pfolio-card-top-text: #f4f4fd;

  /* background colors */
  --main-background: #ffffff;
  --hero-background: #2e2f42;
  --hero-btn-background: #4d5ae5;
  --ourteam-background: #f4f4fd;
  --footer-background: #2e2f42;
  --btn-background: #f4f4fd;
  --accent-btn-background: #404bbf;
  --pfolio-card-top-background: #4d5ae5;

  /* border colors */
  --border-color: #e7e9fc;
  --border-accent-color: #f4f4fd;

  /* box-shadow color */
  --ourteam-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  --pfolio-menu-shadow-accent: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --pfolio-card-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  --pfolio-card-shadow-accent: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

  /* hero gradient color */
  --hero-gra: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));

  /* social icons color */
  --social-color: #f4f4fd;
  --social-background-main: #4d5ae5;
  --accent-social-color: #404bbf;
  --accent-footer-social-color: #31d0aa;
  --features-icon-background: #f4f4fd;

  /* customers color */
  --customers-icon-color: #afb1b8;
  --customers-border-color: #8e8f99;
  --customers-accent-color: #404bbf;

  /* modal color */
  --modal-background: #fcfcfc;
  --modal-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --modal-btn-color: #000000;
  --modal-btn-background: #e7e9fc;
  --modal--btn-accent-color: #ffffff;
  --modal-btn-accent-background: #404bbf;
  --modal-btn-border-color: rgba(0, 0, 0, 0.1);
  --backdrop-background: rgba(46, 47, 66, 0.4);

  /* transition settings */
  --accent-tra: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --modal-tra: 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* GENERAL style */

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--main-background);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
  /* outline: 2px solid red; */
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* LOGO style */

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: var(--logo-main-color);
  text-transform: uppercase;
}

.header-logo {
  color: var(--logo-part-header-color);
}

.footer-logo {
  color: var(--logo-part-footer-color);
}

/* MODAL WINDOW style */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: var(--backdrop-background);
  transition: opacity var(--modal-tra), visiblity var(--modal-tra);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(1);
  width: 408px;
  min-height: 576px;
  background-color: var(--modal-background);
  border-radius: 4px;
  box-shadow: var(--modal-shadow);
  padding: 24px;
  transition: transform var(--modal-tra);
}

.modal-btn-close {
  width: 24px;
  height: 24px;
  border: 1px solid var(--modal-btn-border-color);
  border-radius: 50%;
  color: var(--modal-btn-color);
  background-color: var(--modal-btn-background);
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color var(--accent-tra), background-color var(--accent-tra);
}

.modal-icon {
  fill: currentColor;
}

.modal-btn-close:is(:hover, :focus) {
  color: var(--modal--btn-accent-color);
  background-color: var(--modal-btn-accent-background);
}

/* HEADER style */

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--border-color);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  margin-right: auto;
}

.header-list {
  display: flex;
  gap: 40px;
  margin-left: 77px;
}

.header-item {
  flex-basis: calc((100% - 80px) / 3);
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-color);
  transition: color var(--accent-tra);
}

.header-address {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-address-list {
  display: flex;
  gap: 40px;
}

.header-address-item {
  flex-basis: calc((100% - 40px) / 2);
}

.header-mail,
.header-tel {
  color: var(--text-color);
  transition: color var(--accent-tra);
}

/* ACCENT HEADER LINKS style */

.current {
  position: relative;
}

.current::after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -24px;
  border-radius: 2px;
  background-color: var(--accent-link-color);
}

.header-link:hover,
.header-link:focus,
.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus,
.current {
  color: var(--accent-link-color);
}

/* FOOTER style */

.footer {
  background-color: var(--footer-background);
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  align-items: baseline;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-container-content {
  padding-right: 120px;
}

.footer-desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-text-color);
  margin-top: 16px;
  max-width: 264px;
}

/* .footer-container-soc {
} */

.footer-soc-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-subtitle-color);
  margin-bottom: 16px;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-soc-item {
  flex-basis: calc((100% - 48) / 3);
  width: 40px;
  height: 40px;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--social-color);
  transition: background-color var(--accent-tra);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--accent-footer-social-color);
}

.footer-soc-icon {
  fill: currentColor;
}

/* INDEX.HTML BODY style */

/* OVERALL TEXT style */

.titles {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--title-color);
  text-align: center;
}

.subtitles {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--subtitle-color);
}

.descs {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* FEATURES-WHATWEDO-OURTEAM SECTION style */

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* BUTTON style */

.btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

/* HERO style */

.hero {
  background-color: var(--hero-background);
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  background-image: var(--hero-gra), url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--hero-color);
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.hero-btn {
  color: var(--hero-btn-color);
  background-color: var(--hero-btn-background);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  padding: 16px 32px;
  transition: background-color var(--accent-tra);
}

/* ACCENT HERO BUTTON style */

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--accent-btn-background);
}

/* FEATURES style */

/* .features {
} */

/* .features-title {
} */

.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  flex-basis: calc((100% - 72px) / 4);
}

.features-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--features-icon-background);
  border-radius: 4px;
  height: 112px;
  /* padding-top: 24px;
  padding-bottom: 24px; */
}

/* .features-icon {
} */

.features-subtitle {
  margin-top: 8px;
  margin-bottom: 8px;
}

/* .features-desc {
} */

/* WHATWEDO style */

.whatwedo {
  padding-top: 0;
}

.whatwedo-title {
  margin-bottom: 72px;
}

.whatwedo-list {
  display: flex;
  gap: 24px;
}

.whatwedo-item {
  border: 1px solid var(--border-color);
  flex-basis: calc((100% - 48px) / 3);
}

/* .whatwedo-img {
} */

/* OURTEAM style */

.ourteam {
  background-color: var(--ourteam-background);
  max-width: 1440px;
  margin: 0 auto;
}

.ourteam-title {
  margin-bottom: 72px;
}

.ourteam-list {
  display: flex;
  gap: 24px;
}

.ourteam-item {
  background-color: var(--main-background);
  flex-basis: calc((100% - 72px) / 4);
  box-shadow: var(--ourteam-shadow);
  border-radius: 0px 0px 4px 4px;
}

/* .ourteam-img {
} */

.ourteam-content {
  padding-top: 32px;
  padding-bottom: 32px;
}

.ourteam-subtitle {
  text-align: center;
  margin-bottom: 8px;
}

.ourteam-desc {
  text-align: center;
  margin-bottom: 8px;
}

.ourteam-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.ourteam-soc-item {
  /* flex-basis: calc((100% - 72px) / 4); */
  width: 40px;
  height: 40px;
}

.ourteam-soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--social-background-main);
  border-radius: 50%;
  color: var(--social-color);
  transition: background-color var(--accent-tra);
}

.ourteam-soc-link:hover,
.ourteam-soc-link:focus {
  background-color: var(--accent-social-color);
}

.ourteam-soc-icon {
  fill: currentColor;
}

/* CUSTOMERS style */

.customers {
  padding-top: 130px;
}

.customers-title {
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  gap: 24px;
}

.customers-item {
  flex-basis: calc((100% - 5 * 24px) / 6);
  height: 88px;
}

.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--customers-border-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--customers-icon-color);
  transition: color var(--accent-tra), border-color var(--accent-tra);
}

.customers-icon {
  fill: currentColor;
}

.customers-link:is(:hover, :focus) {
  border-color: var(--customers-accent-color);
  color: var(--customers-accent-color);
}

/* PORTFOLIO.HTML BODY style */

.pfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

/* .pfolio-title {
} */

.pfolio-menu-list {
  margin-bottom: 72px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

/* .pfolio-menu-item {
} */

.pfolio-menu-btn {
  min-height: 48px;
  color: var(--btn-color);
  background-color: var(--btn-background);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 12px 24px;
  transition: color var(--accent-tra), background-color var(--accent-tra), box-shadow var(--accent-tra);
}

/* ACCENT PFOLIO MENU BUTTON style */

.pfolio-menu-btn:hover,
.pfolio-menu-btn:focus {
  color: var(--accent-btn-color);
  background-color: var(--accent-btn-background);
  box-shadow: var(--pfolio-menu-shadow-accent);
  border-radius: 4px;
  border-color: transparent;
}

.pfolio-card-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.pfolio-card-item {
  flex-basis: calc((100% - 48px) / 3);
}

.pfolio-card-item:hover .pfolio-card-top-text {
  transform: translateY(0%);
}

.pfolio-card-link {
  transition: box-shadow var(--accent-tra);
}

.pfolio-card-link:is(:hover, :focus) .pfolio-card-content {
  /* border: 0.5px solid var(--border-accent-color); */
  box-shadow: var(--pfolio-card-shadow-accent);
}

.pfolio-card-top-wrap {
  position: relative;
  overflow: hidden;
}

/* .pfolio-card-img {
} */

.pfolio-card-top-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--pfolio-card-top-text);
  background-color: var(--pfolio-card-top-background);
  height: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform var(--accent-tra);
  overflow: auto;
}

.pfolio-card-content {
  padding: 32px 16px;
  border: 1px solid var(--border-color);
  border-top: none;
}

.pfolio-card-subtitle {
  margin-bottom: 8px;
}

/* .pfolio-card-desc {
} */
